<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Parallel_ThreadLocal_Suite" verbose="1" parallel="classes" thread-count="2">
    <parameter name="baseUrl" value="https://www.saucedemo.com/"/>
    <parameter name="browser" value="edge"/>
    <parameter name="driverPath" value="D:\Download\edgedriver_win64\msedgedriver.exe"/>

    <test name="Parallel classes">
        <classes>
            <!-- Thread 1: kiểm thử login (title, URL) -->
            <class name="bai22.tests.LoginTitleParallelTest"/>
            <!-- Thread 2: kiểm thử giỏ hàng (cart) -->
            <class name="bai22.tests.CartParallelTest"/>
        </classes>
    </test>
</suite>

